* {
  margin: 0;
  padding: 0;
  --primary-color: #f8f8f3; 
  --secondary-color:rgb(38, 30, 30) ;
  /* --primary-font: 'Raleway'; */
  /* --primary-font: 'Poppins', 'sans-serif'; */
  font-family: 'Poppins', 'sans-serif';
  /* font-family: 'Raleway' */
  /* font-family: "Montserrat", sans-serif; */
}

body{
  object-fit: cover;
  height: 100vh;
  /* background-color: var(--secondary-color); */
}

body::before {
		content:""; /* required for ::before */
		position:fixed; /* don't scroll with page */
		z-index:-100; /* place behind elements on page */
		width:100%;
		height:100%;
		background-color:#14C2CC;
		background-image: 
		radial-gradient(circle farthest-side at top right, transparent, #0D64FF), radial-gradient(ellipse farthest-corner at 0% 100%, transparent, #ff00a2f3);
		animation:bg-change 10s infinite;
}

@keyframes bg-change {
	0%, 100% {
		filter:hue-rotate(0deg);
	}
	50% {
		filter:hue-rotate(-45deg);
	}
}

#root {
  height: min-content;
  height: 100vh;
}

.App {
  text-align: center;
  height: 100vh;
  transition: ease-in-out 1s;
  opacity: 0;
}

.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  opacity: 1;
  z-index: 4;
}

.loader-box{
  margin: auto;
  text-align: center;
}

.loaded {
  opacity: 1;
}

/* Home */
/* Header/Hero */
.App-header{
  top: 0;
  width: 100%;
}

.Header-contents{
  display: flex;
  width: 100%;
  justify-content: space-between ;
}

.Navigator{
  display: flex;
  width: 50%;
  margin: auto 10px;
}

.nav-links{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.mobile-toggle {
  width: 1%
}

.header-hero{
  height: 90vh;
  background-image: url('https://media.giphy.com/media/gFmkpNCar7TSoauRUs/giphy.gif');
  background-repeat: repeat-x;
}

.header-text{
  padding: 15%;
  font-size: 30px;
  color: beige;
}

.header-text h1{
  font-size: 60px;
  margin-top: 20px;
}

.red-font{
  color: rgb(167, 2, 2);
  text-shadow: white 1px 0 10px;
}

.about-me-shadow{
  font-size: 23px;
  /* text-shadow: black 0px 20px 25px; */
}

.header-icons-block{
  display: flex;
  justify-content: space-around;
  width: 25%; 
  margin: 15px auto;
}

.header-slogan{
  font-size: 20px
}

.header-icons{
  height: 60px;
  border-radius: 100px;
  scale: 0.8;
  transition: ease-in-out 0.2s;
}

.header-icons:hover{
  background-color: white;
  scale: 1
}

.header-btns-blocks{
  display: flex;
  width: 700px;
  margin: 0 auto;
  justify-content: space-around;
}

.header-btns{
  display: inline-block;
  height:70px;
  width: 250px;
  border-radius: 10px;
  margin: 0 auto;
}

.learn-me{
  background-image: url('./media//icons/gifs/learn-me-still.gif');
  background-size: cover;
}

.learn-me:hover{
  transition: ease-in-out 0.5s;
  transform: rotateX(-360deg);
  background-image: url('./media//icons/gifs/learn-me-active.gif');
}

.view-projects{
  background-image: url('./media//icons/gifs/view-projects-still.gif');
  background-size: cover;
}

.view-projects:hover{
  background-image: url('./media//icons/gifs/view-projects-active.gif');
  transition: ease-in-out 0.5s;
  transform: rotateX(-360deg);
}

/* Home --------------------------------- */

.App-body {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}

.body-divs{
  width: 1000px;
  margin: 30px auto;
  transition: ease-in-out 0.5s;
  opacity: 0;
  scale: 0.97;
  /* filter: grayscale(100%); */
}

.body-divs:hover{
  scale: 1;
}

.body-texts{
  font-size: 18px;
  line-height: 1.5;
  font-family: var(--primary-font)
}

.left{
  align-items: left;
  text-align: left;
}

.title{
  display: inline-block;
  background: linear-gradient(to top, #14c3cce0 50%, white 50%);
}

.section-content{
  margin: 15px auto;
}

.row{
  display: flex;
  justify-content: space-evenly;
}

.col{
  width: 100%;
  margin: 0 auto;
}

.home-btns{
  display: inline-block;
  padding: 10px 10px;;
  background-color: #14C2CC;
  transition: ease-in-out 0.5s;
  scale: 0.9
}

.home-btns:hover{
  transform: rotateX(-360deg);
  background-color: orange;
  scale: 1.1
  /* font-size: 28px */
}

/* About on Home Pg */
.skills{
  display: flex;
  justify-content: space-between;
}

.skills > div{
  border-right: 3px solid orange;
  flex: 1
}

.skills > div:last-child{
  border-right: 0px;
}

.technologies{
  display: flex;
  flex-wrap: wrap;
  margin: 10px auto;
  justify-content: center;
}

.technologies-box{
  margin: 15px 15px;
  scale: 0.8;
  transition: ease-in-out 1s;
}

/* insert border radius or any height width px before width or pictures will spill out the window*/
.technologies-logos{
  display: block;
  height: 75px;
  width: 75px;
  border-radius: 50px;
  margin: 0 auto;
}

.technologies-names{
  display: inline-block;
  background-color: #08337ef4;
  color:beige;
  font-size: 15px;
  padding: 3px 15px;
}

/* Apps on Home Pg*/
.projects-display{
  display: flex;
  flex-wrap: wrap;
}

.app-box{
  margin: 0 auto;
  margin-top: 5px;
  padding: 15px 0 15px 0;
  width: 400px;
  transition: ease-in-out 0.7s;
  scale: 0.2
}

.app-box:last-child{
  border-right: 0px
}

.container_wrapper{
  margin: auto auto;
  border-radius: 5px;
  position: relative
}

.container--picture{
  width: 100%;
}

.container--picture:hover{
  filter: blur(0px)
}

.container--content{
  margin: 0 10px;
}

.container--overlay{
  position: absolute;
  top: 0 ;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to top,  rgba(0,0,0,0.6)65%,  rgba(0,0,0,0));
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container--overlay:hover{
  opacity: 0;
  transition: all 250ms ease-in-out;
}

/* Contact on Home */
.contact-block{
  margin: 0 auto;
}

.contact-list{
  display: flex;
  margin: 25px 0;
  transition: ease-in-out 0.5s;
  scale: 0.2

}

.contact-list > * {
  flex: 1
}

.effect-icons{
  scale: 0.8
}

.effect-icons:hover{
  scale: 1
}

/* About Page ------------------------------------------------------*/
.aboutme{
  display: flex;
  margin: 20px 20px;
  justify-content: center;
}

.aboutme-blocks{
  width: 50%;
  margin: auto 15px;
  justify-content: center;
}



.aboutme--titles{
  margin: auto 10px;
}

.aboutme--quotes{
  font-style: italic;
  font-size: 22px;
}

.aboutme--facts{
  font-size: 22px;
}

.aboutme--gifs{
  display: flex;
  justify-content: space-around;
  margin: 50px auto;
  transition: ease-in-out 1s;
  width: 75%
}

.gifs{
  transition: ease-in-out 0.5s;
  scale: 0.2
}

.about-projects{
  display: flex;
  justify-content: space-between;
  margin: 25px auto
}

.projects-logos{
  display: block;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  margin: 0 auto;
}

/* About Me - Carousels CSS ------------ */

.aboutme--carousel{
  background-color: #14C2CC;
}

.carousel-container {
  height: 200px;
  display: flex;
  justify-content: center;
}

.carousel--div{
  width: 80%;
  margin: auto auto;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}

.carousel---block{
  min-width: 100%;
  width: 100%;
  transition: 1s cubic-bezier(0.1, 0.1, 0.1, 1.5);
  margin: auto;
}

.carousel-item {
  width: 100%;
  margin: auto auto;
  transition: 1s cubic-bezier(0.1, 0.1, 0.1, 1.5);
}

/* Footer ----------------------- */

.App-footer {
  padding: 15px 0;
  display: flex;
  justify-content: space-around;
}

.footer-font{
  width: 30%;
}

.icon-align {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Pictures and logos ---------------- */
.logos{
  display: flex;
  justify-content: space-around;
  width: 40%
}

.logos-icons{
  transition: ease-in-out 1s;
  height: 75px;
  width: 75px;
  margin: 0 auto;
  scale: 0.2;
}

.logos-icons:hover{
  transition: all 250ms ease-in-out;
  height: 100px;
  width: 100px;
}

.footer-icons{
  display: flex;
  justify-content: space-around;
  width: 25%; 
  margin: 0 auto
}

.footer-icons-img{
  margin: auto auto
}

/* Links */

.links{
  transition: ease-in-out 0.2s;
  font-size: 25px;
  font-weight: 400;
  color: white;
}

.links:hover{
  font-size: 29px;
  text-decoration: underline;
  text-underline-offset: 8px;
}

a:link{
  text-decoration: none;
}

a:visited{
  text-decoration: none;
  color: black
}

.github-links {
  border-radius: 50px;
  margin: 20px auto;
  width: 20%;
}

/* Fonts */
.h1 {
  font-size: 60px;
  font-weight: 700;
  /* font-family: 'Shadows Into Light', cursive */
}

.h2{
  color: white;
  font-family: var(--primary-font);
  font-weight: 600;
}

h4{
  margin: 10px 0;
}

h5{
    font-family: 'Raleway';
      /* font-family: "Montserrat", sans-serif; */
    margin: 10px 0;
}

.bold{
  font-weight: bold;
}

.align-ver{
  display: flex; 
  align-items: center;
}

.center{
  justify-content: center;
}

@media screen and (max-width: 1200px) {
  .Navigator{
    width: 75%
  }

  .aboutme {
    display: block
  }

  .aboutme-blocks{
    width: 100%;
    margin: auto auto;
    margin-bottom: 50px
  }

  .profile{
    width: 90%
  }

  .skills{
    display: block;
  }
}

@media screen and (max-width: 1000px) {
  .Header-contents{
    display: block;
  }
  
  .Navigator{
    display: flex;
    width: 100%;
    margin: 0 auto;
  }

  .footer-icons{
    width: 50%; 
  }
}
  

@media screen and (max-width: 850px){
  /* USE BLOCK INSTEAD OF INLINE FOR FLEX FOR BORDER TO SHOW */
  .app-box {
    display: block;
    width: 100%; 
    border-bottom: 3px solid orange;
  }

  .container_wrapper{
    margin: 0px auto;
    width: 75%;
  }

  .container--picture{
    width: 100%;
    
  }

  .github-links {
    width: 10%;
  }

}

@media screen and (max-width: 800px) {
  .technologies-logos{
    height: 50px;
    width: 50px
  }

  .gifs{
  width: 100px;
  height: 100px;
}
}


@media screen and (max-width: 700px){
  .App-footer{
    display: block;
    justify-content: center;
    margin: 0 auto;
  }

  .footer-font{
    width: 100%;
    padding: 10px 0 10px 0;
  }

  .links{
    margin-bottom: 25px;
  }

  .logos {
    justify-content: space-around;
    margin: 0px auto;
    width: 50%
  }

  .Navigator{
    display: block;
  }

  .Header-contents{
    padding: 2px;
    margin: 0 auto;
  }

  .mobile-toggle {
    width: 100%;
    height: 35px;
    margin-bottom: 20px
  }

  .mobile-options {
    background-color: black;
    width: 35px;
    height: 5px;
    margin: 5px auto;
  }

  .nav-links{
    opacity: 0;
    height: 1px;
  }

  .mobile-effect{
    transition: all 0.75s ease-in-out;
    opacity: 1;
    text-align: center;
    line-height: 60px;
    width: 100%;
    display: table;
    margin: 10px auto;
  }

  #mobile-menu.active .mobile-options:nth-child(2){
    transition: all 0.5s ease-in-out;
    opacity: 0;
  }

  #mobile-menu.active .mobile-options:nth-child(1){
    transition: all 0.5s ease-in-out;
    transform: translateY(10px) rotate(45deg);
  }

  #mobile-menu.active .mobile-options:nth-child(3){
    transition: all 0.5s ease-in-out;
    transform: translateY(-10px) rotate(-45deg);
  }  
}

@media screen and (max-width: 600px) {
  .gifs {
    height: 75px;
    width: 75px;
  }
}

@media screen and (max-width: 500px){
 
  .links{
    margin-bottom: 25px;
  }

  .body-divs{
   margin: 10px 10px;
  }

  .logos{
    width: 75%
  }
}

@media screen and (max-width: 400px){
  .container---blurb{
    font-size: 15px
  }

  .icon-align {
    margin: 0 auto;
  }

}