.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.Header-contents{
  display: flex;
  justify-content: space-between ;
  margin: auto 10px;
}

.App-body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-footer {
  background-color: orange;
  padding: 15px 15px;
  display: flex;
  justify-content: space-around;
}

.Navigator{
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto 10px;

}

h2{
  color: black;
}


a:link{
  text-decoration: none;
  color: black;
}

a:visited{
  text-decoration: none;
  color: black
}

a:active{
  color: white
}

a:hover{
  color: white;
  transition: all 250ms ease-in-out;
}

.body-divs{
  margin: 30px 30px;
}

.body-texts{
  font-size: 18px;
  
}

.logos{
  display: flex;
  justify-content: space-around;
  width: 25%
}

.skill-lists{
  display: flex;
  justify-content: space-evenly;
}

.list-divs{
  text-align: left;
}

.contact-form{
  align-items: center;

}

.label-divs{
  margin: 25px;
  display: flex;
  justify-content: space-between;

}


input{
  width: 75%;
}

textarea{
  width: 75%;
}


.container{

  opacity: 0.5;
  border-radius: 5px;

}

.container:hover{
  opacity: 1.00;
  border-radius: 5px;
  transition: all 250ms ease-in-out;
}



.App-header{
  background-color: Orange;
  /* position: -webkit-sticky;
  position: sticky;
  top: 0; */

}

.app-name{
  margin-top: 5px;
  padding-bottom: 15px;

  border-bottom: 3px solid orange;
}

/* h5{
  margin-bottom: 10px;
} */




/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
